<html>
        <head>
            <title>Description</title>
        </head>
        <body>
        <h1>Проект Stripe payment + Djando</h1>
        <p>Спасибо, что уделили внимание моему проекту.
                 <a href="https://github.com/kosta-gidra/Django_Stripe_project">Ссылка на GitHub</a></p>
        <p>-Для создания заказа перейдите в
                <a href="http://127.0.0.1:8000/admin/">Django Admin панель</a> </p>
        <p>-Для просмотра и оплаты заказа перейдите на ссылку /order/id </p>

        </body>
</html>